body {
    overflow-y: hidden;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

li.search {
    padding: 5px 10px;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    height: 90px;
    z-index: 99;
    color: #fff;
    background: #412fb3;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btn-toggle {
    top: 10px;
    right: 20px;
    background: #fff;
    border: 2px solid #000;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 999;
}

.btn-back {
    top: 10px;
    right: 120px;
    background: #fff;
    border: 2px solid #000;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 999;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 95;
    padding-top: 80px;
    background: #412fb3;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 15px;
    right: 200px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 10px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #fff;
}

#sidebar ul li ul {
    padding: 0 20px;
    font-size: 12px;
    color: #fff;
}

#sidebar ul li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-right: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {

    transition: all 0.3s;
    position: relative;
    /* top: -100px; */
    z-index: 80;
}

#mapid {
    height: 100vh;
    position: relative;
}
